@tailwind base;
@tailwind components;
@tailwind utilities;

/** Customize Mantine styles
 * see: https://mantine.dev/styles/css-variables-list/#light-only
*/

:root {
  --bg-dark-color: rgb(37, 38, 43);
  --bg-light-color: var(--mantine-color-gray-0);

  color-scheme: var(--mantine-color-scheme);
}

*,
*::before,
*::after {
  /* @apply box-border; */
  box-sizing: border-box;
  /* color: light-dark(var(--mantine-color-dark-0), var(--mantine-color-black)); */
  /* color: theme.colorScheme === "dark" ? theme.colors.dark[0] : theme.black; */
}

body {
  font-family: var(--mantine-font-family);
  background-color: light-dark(var(--bg-light-color), var(--bg-dark-color));

  /* color: light-dark(var(--mantine-color-dark-0), var(--mantine-color-black)); */

  padding: 0;
  margin: 0;
  line-height: 1.75;
  font-weight: "400";
  font-size: "16px";
  overflow-x: "hidden";

  -webkit-font-smoothing: var(--mantine-webkit-font-smoothing);
  -moz-osx-font-smoothing: var(--mantine-moz-font-smoothing);
}

div {
  font-family: var(--mantine-font-family);
}

code {
  font-family: var(--mantine-font-family-monospace);
  font-size: "14px";
  padding: "4px";
  background-color: light-dark(
    var(--mantine-color-grey-9),
    var(--mantine-color-gray-1)
  );
}

ul {
  margin-bottom: "16px";
  padding-left: "24px";
  list-style-type: square;
}

li {
  font-size: "16px";
  margin-bottom: "4px";
  font-family: var(--mantine-font-family);
}

p {
  margin-bottom: "16px";
}

a {
  cursor: "pointer";
  text-decoration: "none";
  color: light-dark(
    var(--mantine-primary-color-5),
    var(--mantine-primary-color-7)
  );
}

blockquote {
  margin: "10px";
  padding: "0 15px";
  color: light-dark(
    var(--mantine-primary-color-4),
    var(--mantine-primary-color-6)
  );
  background-color: light-dark(
    var(--mantine-color-dark-6),
    var(--mantine-color-grey-0)
  );

  border-left: 4px solid var(--mantine-primary-color-7);

  & > div {
    color: light-dark(
      var(--mantine-color-dark-2),
      var(--mantine-primary-color-3)
    );
  }
}
em {
  color: light-dark(
    var(--mantine-color-dark-2),
    var(--mantine-primary-color-3)
  );
}

strong {
  font-weight: 600;
  color: light-dark(
    var(--mantine-primary-color-7),
    var(--mantine-primary-color-5)
  );
}

.mantine-Divider-label {
  color: var(--mantine-color-black);
}
[data-mantine-color-scheme="dark"] .mantine-Divider-label {
  color: var(--mantine-color-white);
}
/* .mantine-Divider-label {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
} */

/* h2,
   h3{
     a {
       :before {
         content: '"#"';
         float: "left";
         padding-right: "8px";
         margin-left: "-20px";
         visibility: "hidden";
       };
     }

     &:hover,
     a:before {
       visibility: "visible";
     }
   } */
