@tailwind base;
@tailwind components;
@tailwind utilities;

/* Customize notion styles */

@layer components {
  .react-tweet-theme {
    --tweet-bg-color: rgb(255, 255, 255);
    --tweet-bg-color-hover: rgb(248, 242, 234);
  }

  .notion-asset-wrapper-tweet > div > div {
    max-width: 100% !important;
  }

  .notion,
  .notion-page > * {
    list-style: square !important;
  }

  .notion-code > code[class*="language-"],
  pre[class*="language-"] {
    font-family: "JetBrains Mono", sans-serif !important;
  }

  pre[class*="language-"] {
    padding: 1.5em !important;
  }

  .token > .token,
  .maybe-class-name,
  .imports,
  .parameter,
  .property-access {
    color: white !important;
  }

  .notion-inline-code {
    color: #eb5757 !important;
  }
}
